.icon{
  font-size: 30px;
  margin: auto;
  transition: 0.5s;
  &:hover{
    cursor: pointer;
    color: red;
    transform: translate(0, -5px);
  }
}
.title{
  max-width: 90%;
  margin-right: 10px;
  &:hover{
    cursor: pointer;
    text-decoration: line-through;
  }
  &:focus{
    box-shadow: none;
    border-color: var(--bs-border-color);
  }
}


